# --- Arquivos de Ambiente (CRÍTICO) ---
.env
.env.prod
.env.local
.env.*.local

# --- Python / Django ---
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
db.sqlite3
media/
staticfiles/
*.egg-info/
.mypy_cache/
.pytest_cache/

# --- Node / React ---
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# --- Docker ---
local_pg_data/
pg_data_prod/

# --- IDEs ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- OS ---
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*.swo
*~

# --- Logs ---
*.log
npm-debug.log*
/.sisyphus
